*.o
/.vs
/CxImageFull_vc14.VC.VC.opendb
/CxImageFull_vc14.VC.db
/bin
/x64
/cximage/x64
/cximage/CxImageDLL/Debug
/jasper/x64
/demo/x64
/jbig/x64
/jpeg/x64
/libpsd/x64
/mng/x64
/png/x64
/raw/x64
/tiff/x64
/zlib/x64
